<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058287730863-i4nqrh3gu5rrmvoca5mr9kbssrvbb20e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058287730863-i4nqrh3gu5rrmvoca5mr9kbssrvbb20e</string>
	<key>API_KEY</key>
	<string>AIzaSyAob1pB8J9PmkIFNnjZJbd5zRvy3Y0yOxw</string>
	<key>GCM_SENDER_ID</key>
	<string>1058287730863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getwiretap.wiretap-ios-dev</string>
	<key>PROJECT_ID</key>
	<string>wiretap-demo-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>wiretap-demo-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058287730863:ios:cf7896ee652f34568f545a</string>
	<key>DATABASE_URL</key>
	<string>https://wiretap-demo-dev.firebaseio.com</string>
</dict>
</plist>